@inherits TComponent
@if (IsVisabled)
{
    <select class="@CssStyle" @bind-value="SelectedValue" @bind-value:event="onchange">
        @if (Items != null)
        {
            var vlist = OptionList ?? new List<IGrouping<string, Thunder.Standard.Lib.Model.SelectOption>>();
            if (HasGroup)
            {
                @foreach (var group in vlist)
                {
                    <optgroup label="@group.Key" />
                    @foreach (var item in group.ToList())
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }
            }
            else
            {
                var list = vlist.FirstOrDefault().ToList();
                @foreach (var item in list)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }
        }
    </select>
}