@inherits StrapNavBase
@if (IsVisabled)
{
    <ul class="@CssStyle">
        @if (!string.IsNullOrWhiteSpace(Brand))
        {
            <div class="navbar-brand">@((MarkupString)Brand)</div>
        }
        @if ((DataContext.NavItems?.Count ?? 0) > 0)
        {
            foreach (var item in DataContext.NavItems)
            {
                <li class="@GetItemCss(item)">
                    @if (IsDropdown(item))
                    {
                        var dropdownItem = TryGetDropdown(item);
                        <StrapDropdown DataContext="dropdownItem" StyleClass="nav-link" ActionItemTag="@ActionItemTag.a" DisableButtonStyle="true" IsActived="item.IsActived" IsEnabled="item.IsEnabled"></StrapDropdown>
                    }
                    else
                    {
                        <StrapNavItem Caption="@item.Caption" CommandAction="@item.CommandAction" ActionItemTag="@ActionItemTag.a" IsActived="item.IsActived" IsEnabled="item.IsEnabled"></StrapNavItem>
                        @*<StrapButton Caption="@item.Caption" Style="@StyleType.none" CommandAction="@item.CommandAction" ActionItemTag="@ActionItemTag.button" IsActived="item.IsActived" IsEnabled="item.IsEnabled" StyleClass="nav-link"></StrapButton>*@
                    }
                </li>
            }
        }
        @ChildContent
    </ul>
}