@inherits StrapButtonBase
@switch (ButtonTag)
{
    default:
    case ButtonTag.button:
        <button class="@CssStyle" disabled="@(!IsEnabled)" @onclick="@OnClick">@Caption</button>
        break;
    case ButtonTag.a:
        <a class="@CssStyle" href="#" role="button"  @onclick="@OnClick">@Caption</a>
        break;
    case ButtonTag.input:
        <input class="@CssStyle" type="button" value="@Caption"  disabled="@(!IsEnabled)"  @onclick="@OnClick" />
        break;
}
