@inherits StrapDropdownBase
    <div class="@DropCss">
        @if (EnableDefaultMenuFlag)
        {
            var firstMenu = DataContext.ChildNodes.FirstOrDefault();
            <StrapButton Caption="@firstMenu.Caption" Style="@Style" Size="@Size" Outline="@Outline" CommandAction="@(()=> { OpenItemClick(firstMenu.CommandAction); })"></StrapButton>
            <StrapButton Style="@Style" Size="@Size" Outline="@Outline" StyleClass="dropdown-toggle dropdown-toggle-split" CommandAction="@ToggleOpen"><span class="sr-only">Toggle Dropdown</span></StrapButton>
        }
        else
        {
            if (SubItem)
            {
                <StrapDropdownItem Caption="@Caption" CommandAction="@ToggleOpen" Tag="ActionItemTag.a" StyleClass="dropdown-toggle"></StrapDropdownItem>
            }
            else
            {
                <StrapButton Caption="@Caption" StyleClass="dropdown-toggle" CommandAction="@ToggleOpen"></StrapButton>
            }
        }
        @if (IsOpen)
        {
            <div class="@DropMenuCss">
                @if ((DataContext?.HasChildNodes ?? false))
                {
                    @foreach (var item in DataContext.ChildNodes)
                    {
                        if (item.HasChildNodes)
                        {
                            <StrapDropdown DataContext="@item" SubItem="true" DropDirection="@DropDirectionType.right"></StrapDropdown>
                        }
                        else
                        {
                            <StrapDropdownItem Caption="@item.Caption" CommandAction="@(()=> { OpenItemClick(item.CommandAction); })" Tag="ActionItemTag.a"></StrapDropdownItem>
                        }
                    }
                }
                else
                {
                    @ChildContent
                }
            </div>
        }
    </div>
