@inherits StrapPaginationBase
@using Thunder.Blazor.Libs
@if (IsVisabled && DataContext != null)
{
    var next = "下一页";
    var prev = "上一页";
    <ul class="@CssStyle">
        @if (DataContext.AlwaysShowNextPrev || DataContext.ShowLeft)
        {
            <li class="@prevmark"><button class="page-link" @onclick="@(()=> { GotoPage(DataContext.PageIndex - 1); })">@prev</button></li>
        }
        @for (int i = DataContext.MinPage; i <= DataContext.MaxPage; i++)
        {
            var x = i;  //翻页索引，不可去掉
            <li class="@numberMark(DataContext.PageIndex==x)"><button class="page-link" @onclick="@(() => { GotoPage(x); })">@(x + 1)</button></li>
        }
        @if (DataContext.AlwaysShowNextPrev || DataContext.ShowRight)
        {
            <li class="@nextmark"><button class="page-link" @onclick="@(()=> { GotoPage(DataContext.PageIndex + 1); })">@next</button></li>
        }
    </ul>
}
@code{
    string prevmark => CssBuild.New
        .Add("page-item")
        .Add("disabled", !DataContext.ShowLeft)
        .Build().CssString;

    string nextmark => CssBuild.New
        .Add("page-item")
        .Add("disabled", !DataContext.ShowRight)
        .Build().CssString;

    string numberMark(bool flag)
    {
        return CssBuild.New
        .Add("page-item")
        .Add("disabled", !DataContext.IsEnabled)
        .Add("active", flag)
        .Build().CssString;
    }
}
