@page "/"
@inherits TComponent

<Alert @ref="@alert" IsVisabled="false"></Alert>
<h1 id="@titleId">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="@NotyInfo">提示消息 (Notice pop)</button>
<button class="btn btn-primary" @onclick="@AnimateClick">动画演示 (Animate Demo)</button>
<button class="btn btn-primary" @onclick="@AlertShow">警告条幅 (Alert infomation)</button>

@code{
    [Inject] protected NotifyService noty { get; set; }
    [Inject] protected AnimateService animate { get; set; }
    protected string titleId { get; set; }

    Alert alert { get; set; }

    protected override void OnInit()
    {
        titleId = NewId();
        base.OnInit();
    }
    private void NotyInfo()
    {
        noty.Show(new NotyData("这是一条测试的消息。<br> This is a test pop!", NotyType.error));
    }

    private void AnimateClick()
    {
        // start animate
        animate.Start(new AnimateData { AnimateType = AnimateType.tada, id = titleId, resetOnEnd = true });
    }

    private void AlertShow()
    {
        var alertcontext = new AlertContext
        {
            Text = $"[{DateTime.Now}] 警告内容, Alert infomation.",
            IsVisabled = false
        };

        alert.DataContext = alertcontext;
        alert.OnShowed += (o, e) => { animate.Start(new AnimateData { AnimateType = AnimateType.slideInRight, id = alert.DomId }); };
        alert.Show();

    }
}